PASSWORD_EMAIL="senhaemail"
Jwt__Key="senha-secreta"
Jwt__Issuer="Api"
Jwt__Audience="Api"
ConnectionStrings__DefaultConnection="Server=localhost,1434;Database=Unievent;User Id=sa;Password=senhadoseubanco;TrustServerCertificate=True;"
PASSWORD_DB="senhadoseubanco"